# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg/

# Virtual environments
.env/
.venv/
venv/
ENV/

# ---- Environment Variables ----
.env
*.env
.env.example    


# ---- macOS ----
.DS_Store

# ---- Logs ----
logs/
*.log

# ---- IDE Files ----
.vscode/
.idea/

# ---- Cache ----
.cache/
